@import './style/variables';
menu {
    @include position(absolute, 0 null null 2rem);
    @include transition($easing_cubic);
    z-index: 1;
    padding: 1rem;
    background-color: #fff;
    margin: 0;
    i, a {
        @include padding(null .5rem);
        @include transition($easing_cubic);
        position: relative;
        display: inline;
        vertical-align: middle;
    }
    a {
        font-size: 1rem;
        color: #212121;
    }
    i {
        color: map-get($colors, primary);
    }
    &:not(.position-) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    &.position- {
        @include position(absolute, 50% null null 50%);
        @include transform(translate(-50%,-50%));
        @include size(10rem 5rem);
        z-index: 1;
        i {
            @include position(absolute, 50% null null 50%);
            @include transform(translate(-50%,-50%));
            color: map-get($colors, primary);
            font-size: 3rem;
        }
        .open-page {
            position: absolute;
            @include transform-origin(center);
            
            &-feed,
            &-overview {
                left: 50%;
            }
            &-me,
            &-stuff {
                top: 50%;
            }

            &-feed {
                @include transform(translate(-50%,-50%));
                top: 0;
            }
            &-overview {
                @include transform(translate(-50%,50%));
                bottom: 0;
            }

            &-stuff {
                @include transform(translate(50%,-50%));
                right: 0;
            }
            &-me {
                @include transform(translate(-50%,-50%));
                left: 0;
            }
        }
    }
}