@import './style/variables';

[app] {
    @include size(100%);
    overflow: hidden;
    z-index: 0;
    > router-outlet + * {
        @include transition($easing_cubic);
    }
    > router-outlet {
        + * {
            @include position(absolute, null 0 null);
            @include transition($easing_cubic);
            @include size(100%);
            padding: 2rem;
            background-color: map-get($colors, light_gray);
            overflow: auto;
            box-sizing: border-box;
        }
        &.show + * {
            opacity: 1;
            top: 0;
        }
        &.show-not + * {
            opacity: 0;
            top: 100%;
        }
    }
}