[page-holder] {
    transform-origin: center;
    position: fixed;
    &.Feed {
        background: blue;
    }
    &.Stuff {
        background: red;
    }
    &.Overview {
        background: green;
    }
    &.Portfolio {
        background: yellow;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
    }
}