@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:700italic,700,500italic,500,400italic,400,300italic,300,100italic,100);
@import './variables';

html {
    font-size: 30px;
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

a {
    text-decoration: none;
    color: inherit;
    text-align: center;
    display: inline-block;
    position: relative;
    &:before,
    &:after {
        content: '';
        @include transition($easing_cubic);
        @include transform(translate(-50%));
        position: absolute;
        bottom: 0px;
        height: 1px;
        left: 50%;
    }
    &:before {
        width: 100%;
        background-color: #9E9E9E;
    }
    &:after {
        width: 20%;
        background-color: map-get($colors, accent);
    }
    &:hover:after {
        width: 100%;
    }
    &:active:after {
        width: 80%;
    }
}

[href] {
    cursor: pointer;
}