/* @import-normalize; */

:root {
  --colorBackground: #222;
  --colorPrimary: #fa318b;
}

body {
  background: var(--colorBackground);
  margin: 0;
}

#canvas-wrapper {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}